[Unit] 
Description=ACME Viewer
After=network.target

[Service] 
WorkingDirectory=/home/ubuntu/workspace/acme-viewer
Environment="NODE_ENV=production" 
ExecStart=/home/ubuntu/workspace/acme-viewer/start.sh

[Install] 
WantedBy=multi-user.target
