[Unit] 
Description=Certbot Viewer
After=network.target

[Service] 
WorkingDirectory=/home/ghx/workspace/certbot-viewer
Environment="NODE_ENV=production" 
ExecStart=/home/ghx/workspace/certbot-viewer/start.sh

[Install] 
WantedBy=multi-user.target
